<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>blooooog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="titlebar">
            <p>Paths</p>
        </div>

        <br>

        <ul class="links-list">
            <li class="links">
                <img src="/assets/icons/website.png" alt="">
                <a href="https://raice.lol">my website</a>
            </li>

            <li class="links">
                <img src="/assets/icons/umac_script.png" alt="">
                <a href="https://github.com/ricethedev">github</a>
            </li>

            <li class="links">
                <img src="/assets/icons/cd_player.png" alt="">
                <a href="https://last.fm/user/Rice_Dev">lastfm</a>
            </li>
        </ul>

        <br>

    </div>

    <div class="content">

        <div class="titlebar">
            <p>raice's space</p>
        </div>

        <h1>hello!!</h1>

        <p>
            i'm raice, a programmer and general computer nerd
            who likes making random stuff
        </p>

        <p>
            i mostly mess around with c/c++, game development,
            emulation, old computers, linux and hardware.
        </p>

        <h3>currently doing/studying</h3>

        <ul>
            <li>os development</li>
            <li>emulation/emulators</li>
            <li>old hardware</li>
            <li>low level/exploits</li>
            <li>cybersec</li>
        </ul>

        <hr class="solid">

        <h2>posts</h2>

        <div id="posts-div">
            <!--POSTS-->
        </div>

    </div>

</div>

</body>
</html>>