<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><TITLE> - raice's space</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="titlebar">
            <p>Paths</p>
        </div>

        <br>

        <ul class="links-list">
            <li class="links">
                <img src="/assets/icons/website.png" alt="">
                <a href="https://raice.lol">my website</a>
            </li>

            <li class="links">
                <img src="/assets/icons/umac_script.png" alt="">
                <a href="https://github.com/ricethedev">github</a>
            </li>

            <li class="links">
                <img src="/assets/icons/cd_player.png" alt="">
                <a href="https://last.fm/user/Rice_Dev">lastfm</a>
            </li>

            <hr style="width: 230px;">

            <li class="links">
                <img src="/assets/icons/left_arrow.png" alt="">
                <a href="/">back to posts</a>
            </li>
        </ul>
        <br>
    </div>


    <div class="content">

        <div class="titlebar">
            <p>raice's space / <TITLE></p>
        </div>

        <h1><TITLE></h1>

        <p class="post-date">
            <DATE>
        </p>

        <hr>

        <div class="post-content">
            <!--CONTENT-->
        </div>

    </div>

</div>

</body>
</html>